* {
    box-sizing: border-box;
}

body{
    background-color: #EEEEEE;
    font-family: Roboto, Arial;
    font-style: normal;
    font-weight: 500;

}

input[name=search] {
    background: #ffffff;
    float: left;
    padding: 0.6rem;
    width: 80%;
    font-size: 1rem;
    border: 0.1rem solid grey;
}

#button-search {
    float: left;
    cursor: pointer;
    width: 20%;
    font-size: 1rem;
    background: #f0f0f0;
    border: 0.1rem solid grey;
    border-left: none;
    padding: 0.6rem;
    color: #7e7e7e;
}

#button-search:hover {
    background: #bdbdbd;
}

#input-button-search{
    width: 50%;
    position: absolute;
    left: 18.5%;
    top: 0.8rem;
}

#menu-icon{
    position: absolute;
    left: 1.5%;
    top: 0.5rem;
}

#youtube-icon{
    position: absolute;
    left: 7.5%;
    top: -0.5rem;
}

#upload-icon{
    position: absolute;
    left: 75%;
    top: 0.55rem;
}

#Sig-in-button{
    position: absolute;
    left: 86%;
    border: 1px solid grey;
    padding: 10px;
    background: #167ac6;
    color: white;
    top: 0.8rem;
}

.nav{
    display: flex;
    background-color: white;
    height: 4.25rem;
    z-index: 1;
    position: relative;
    top: -8px;
    width: 107%;
    right: 8px;
}

.number1 {

color: #ffffff;
}

.subnumber1 {
    background-color: rgb(255, 255,255);
    padding: 1em;
    border: 0.2em #167ac6 solid; 
    color: #000000;
}
#learnmore{
    float: right;
    position: relative;
    bottom: 30px;
    text-decoration: none;
    
}
#close{
    float: right;
    position: relative;
    text-decoration: none;
    color: #ffffff;

}
.language {
 padding-left: 1em;
}
#sublanguage{
    padding-left: 1em;
}
#icons{
    padding-left: 1em;
}

#youtube-video{
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    background-color: #EEEEEE;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.video-grid-size{
    width: 66.4rem;
}

.video-list-grid{
    position: relative;
    right: 0.6rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    background-color: #EEEEEE;
    width: 100%;
    width: 35.39rem;
}

.background-white{
    background-color: white;
}

#up-next{
    float: left;
    color: black;
}

#autoplay{
    float: right;
    color: black;

}

.padding-right{
    padding-right: 1rem;
}

.padding-left{
    padding-left: 1rem;
}

.padding-top{
    padding-top: 1rem;
}

#height-playlist{
    height: 150rem;
}

.text-color{
    color: black;
}

.left-elements{
    float: left;
}

.right-elements{
    float: right;
    display: flex;
}
.thumbnails {
    padding-top: 3.2rem;
    
}
.thumbanilsElements{
    display: flex;
    padding-bottom: 1rem;
}
.txttittle{
    font-size: 1.2em;
}
.txtuser{
    font-size: 0.7em;
}
.txtviews{
    font-size: 0.6em;
}
.padding-bottom {
    padding-bottom: 1rem;
}
